.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  padding: 20px;
}

.content {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.contentWide {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}